#js-disabled-alert
{	width: 100%;
	background-color: #b22222;
	color: white;
	padding: 10px;
	position: absolute;
	top: 0px;
}

.tabbable .nav-tabs
{   border-width: 0px;
}

label
{   font-size: 90%;
    font-weight: 500;
    color: #666;
}

input, select
{   margin-bottom: 20px;
}

input[type="checkbox"]
{   margin-bottom: 8px;
    margin-right: 5px;
}

pre
{   padding: 0px;
}

/* Enable tooltip overflow */
.collapse
{   /*overflow: visible;*/
}

.popover
{   max-width: 400px;
    font-size: 80%;
}

body
{   padding-top: 75px;
}

.modal.large
{   margin-left: 0;
    width: 80%;
    height: 75%;
    left: 10%;
}

.modal.large.fade.in
{   top: 5%;
}

 .modal.large .modal-body
{   padding: 0px;
    height: 100%;
    max-height: none;
}

 .modal.large .modal-body iframe
{   width: 100%;
    height: 100%;
    border: 0px;
}

.navbar .btn-group .btn-small
{   margin-top: 2px;
}

.navbar .label
{   margin-top: 10px;
    padding: 3px 6px;
    float: right;
}

textarea
{   width: 100%;
    box-sizing: border-box;
}


.tabbable ul.nav
{
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 90%;
    font-weight: 500;
    color: #666;
}

.tabbable ul.nav-tabs > li > a
{
    color: #555;
    /*border-bottom: 1;*/
}

div.tab-pane.active > textarea
{
    font-size: 90%;
    border-top: 0;
    -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
    /*border-radius-: 4px;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



#mapForm
{   margin-bottom: 40px;
}

.tab-content
{   overflow: visible;
}

.tab-pane.active
{   border-top: 1px solid #ddd;
}

.badge-layer-status
{   position: absolute; right: 200px; bottom: 4px;
}
.badge-dataset-status
{   position: absolute; right: 150px; bottom: 4px;
}

.badge-map-publish-status
{   position: relative;
    top: 2px;
    margin-right: 15px;
}

#btn-add-layer
{   position: absolute; right: 0px; bottom: 0px; width: 80px; border-radius: 4px 4px 0 0;
    text-align: left;
}

#btn-remove-layer
{   width: 50px; border-radius: 0 0 0 4px;
    text-align: left;
}

#btn-delete-layer
{   width: 10px; border-radius: 0 0 4px 0;
}

#btn-group-dataset
{   position: absolute; top: 0px; right: 0px;
}

#btn-remove-dataset
{   border-radius: 0 0 0 4px;
}

#btn-delete-dataset
{   border-radius: 0 0 4px 0;
}

.marker-dropdown
{   padding-bottom: 0px;
}

.btn-upload-marker
{
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
    border-width: 0px;
    border-top: 1px solid #AAAAAA;
    padding: 5px 10px;
    border-radius: 0 0 4px 4px;
}

.modal form
{
    margin-bottom: 0px;
}